.userProfile-okBtn{
    
}
 
.userProfile-okBtn:hover{
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-text-fill: #0099CC;
}

.otherBtns{
    -fx-background-color:  #FB6876;
    -fx-background-radius: 22;
    -fx-text-fill: #ffffff;
    -fx-border-color:  #FB6876;
    -fx-border-radius: 20;
    -fx-border-width: 2;
}

.otherBtns:hover{
    -fx-background-color: #ffffff;
    -fx-background-radius: 22;
    -fx-text-fill:  #FB6876;
    -fx-border-color:  #FB6876;
    -fx-border-radius: 20;
    -fx-border-width: 2;
}