.logInBtn{
    -fx-background-color: #0099CC;
    -fx-background-radius: 22;
    -fx-text-fill: #ffffff;
    -fx-border-color: #0099CC;
    -fx-border-radius: 20;
    -fx-border-width: 2;
}

.logInBtn:hover{
    -fx-background-color: #ffffff;
    -fx-background-radius: 22;
    -fx-text-fill: #0099CC;
    -fx-border-color: #0099CC;
    -fx-border-radius: 20;
    -fx-border-width: 2;
}
