/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 9, 2018, 9:22:28 PM
    Author     : Thushara Supun
*/

.drawerPane-HBox{
    -fx-background-color: transparent;
}

.drawerPane-HBox:hover{
    -fx-background-color: #B1B1B1;
}